<div class="container" style="margin-top:60px">
    <div class="row">
      <div class="col-lg-2" style="margin-top:50px">
          <img src="images/contact.png">
      </div>
      <div class="col-lg-10">
    <form class="bs-example form-horizontal form-sign" action="/users/session" method="post" accept-charset="UTF-8">
        <h2 class="form-signin-heading">Contacter le site</h2> 
        <fieldset style="width:300px">
          <div class="row input-group" style="margin:10px"> 
              <span class="input-group-addon" style="width:150px;">Nom</span> 
              <input type="text" required class="form-control">
          </div>
          <div class="row input-group" style="margin:10px"> 
              <span class="input-group-addon" style="width:150px;">Email</span> 
              <input type="text" required class="form-control">
          </div>
          <div class="row input-group" style="margin:10px"> 
              <span class="input-group-addon" style="width:150px;">Sujet</span> 
              <input type="text" required class="form-control">
          </div>
          <div class="row">
            <div class="col-lg-12" style="margin:10px">
                <textarea class="form-control contenu_annonce" rows="15" id="form_comments" name="form[comments]" placeholder="Merci de saisir votre message" required="true"></textarea>
            </div>
          </div><!-- /.row -->   
          <div class="row">
            <div class="col-lg-12 col-lg-offset-5">
                <button type="submit" class="btn btn-primary">Valider</button> 
            </div>
          </div><!-- /.row -->       
        </fieldset>
    </form>        
      </div>
    </div>
</div>            