<div class="container">
    <form class="bs-example form-horizontal form-signin" method="post" accept-charset="UTF-8">
        <h2 class="form-signin-heading">Merci de vous authentifier</h2> 
        <fieldset style="width:300px">
          <div class="form-group">
            <div class="col-lg-10">
              <input type="text" class="form-control" name="username" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary" ng-click="register()">Valider</button> 
            </div>
          </div>
        </fieldset>
    </form>        
</div>              