.login-menu {
	width: 300px;
}


.jumbotron {
	height: 468px;
	background: url(../images/guitar_lion.jpg) no-repeat center; 
	  -webkit-background-size: cover; /* pour Chrome et Safari */
	  -moz-background-size: cover; /* pour Firefox */
	  -o-background-size: cover; /* pour Opera */
	background-size: cover;
}

@media (max-width: 768px) {
	.btn-sm {
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;	
		padding: 5px 3px;
	}
}
